* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
header {
    background-color: rgba(22, 22, 23);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    color: #fff;
}

.container {
    padding: 0 5%;
}
nav {
    display: flex;
    gap:1rem;
    justify-content: space-between;
    width: 100%;
}
nav a {
    color: #fff;
    text-decoration: none !important;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
}