* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: poppins, sans-serif;
}

.conatiner {
  padding: 1rem 2rem;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #1b1c37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
}
a {
  text-decoration: none !important;
  text-transform: capitalize;
}

nav a {
  color: #fff;
}
nav .logo {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}

nav .hamburger-menu {
  cursor: pointer;
}
.hero {
  position: relative;
}
.hero-section {
  display: flex;
  flex-direction: column;
}
.hero-section .hero-image {
  display: none;
}
.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #1b1c37;
  position: relative;
}

.highlight-parent {
  position: relative;
}
.highlight {
  position: absolute;
  top: -20px;
  right: -30px;
}

.hero-content p {
  font-size: 0.75rem;
  font-weight: 300;
  color: #000;
  width: 60%;
  margin-top: 2rem;
  text-align: left;
  position: relative;
}

.wave-hand img {
  width: 3rem;
  height: 3rem;
}

.hero-content .btn-contact {
  background: linear-gradient(to right, #b224ef, #7579ff);
  padding: 1rem 3rem;
  border-radius: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin: 2.5rem 0;
}

.arrow {
  position: absolute;
  bottom: -2rem;
  right: 0%;
}

.arrow img {
  width: 10rem;
  height: auto;
}

/* skills */
.skills-title {
  font-size: 2.25rem;
  font-weight: 600;
  display: inline-block;
  background: linear-gradient(to right, #b224ef, #7579ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.highlightskill-img {
  position: absolute;
  top: -30px;
  right: -50px;
}

.skill-border {
  border: 1px solid #edeeff;
  margin-top: 2rem;
}

.analytics {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center !important;
}

.analytics-block {
  margin: 2rem;
  width: 100%;
}

.analytics-img {
  position: relative;
  margin: auto;
  text-align: center;
}
.analytics-img img {
  width: 10rem;
  height: 10rem;
}
.analytics-img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 600;
  color: #5f6073;
}

.analytics-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #1b1c37;
  text-align: center;
}

.about-section {
}

.about {
  background: url("images/bg-about.png") no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: bottom;
  position: relative;
  min-height: 40rem;
}
.about-content {
  position: relative;
  margin-top: 4rem;
}
.about h2 {
  text-align: center;
  padding: 4rem 0;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
}

.content-main {
  background-color: #fff;
  width: 90%;
  margin: auto;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content1 img {
  width: 5rem;
  height: 5rem;
}
.content1 h6 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.25rem 0;
}
.content1 p {
  font-size: 1rem;
  font-weight: 600;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #b224ef, #7579ff);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -30%);
}

.content3 div {
  padding: 1rem;
  text-align: center;
  color: #fff;
}
.content3 img {
  width: 5rem;
  height: 5rem;
  width: 100%;
}
.content3 h6 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.25rem 0;
}
.content3 p {
  font-size: 1rem;
  font-weight: 600;
}

.highlight-box1 {
  position: absolute;
  background: url("images/dots.png") no-repeat;
  height: 7rem;
  width: 7rem;
  top: -100px;
}

.highlight-box2 {
  position: absolute;
  background: url("images/dots.png") repeat-x;
  height: 7rem;
  width: 9rem;
  bottom: 40px;
  right: 0;
}



footer {
  background-color: #edeeff;
  padding: 2rem;
  border-radius: 3rem 3rem 0 0;
  position: relative;
}
.footer-highlight2 {
  position: absolute;
  top: 50px;
  right: 0px;
}
.footer-highlight {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
footer .footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contact {
  margin: 0 1rem;
  font-size: 1rem;
  color: #1b1c37;
}
.copyright {
  text-align: center;
  margin-top: 1rem;
  color: #5f6073;
}
/* Responsive Styles */
@media (min-width: 1024px) {
  .conatiner {
    padding: 1rem 5rem;
  }
  .hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-section .hero-image {
    display: block;
    width: 55%;
    object-fit: contain;
  }
  .hero-section .hero-image img {
    width: 100%;
    height: auto;
  }
  .hero-content {
    width: 45%;
    margin: auto;
  }
  .arrow {
    position: absolute;
    bottom: -3rem;
    right: 50%;
  }
  .arrow img {
    width: 15rem;
    height: auto;
  }
  .analytics {
    justify-content: flex-start !important;
  }
  .analytics .analytics-block {
    width: calc(20% - 20px);
  }
  .content-main {
    width: 50%;
    padding: 2rem;
  }
  .portfolio {
  margin-top: -3rem;
}
}
